src/main/mule/delete-employee.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="delete-employeeFlow" doc:id="b321566c-5d26-4d25-a62d-b5d7cef79ffa" >
		<http:listener doc:name="Listener" doc:id="f79061fe-a283-4f85-9397-3e7153cba9ea" config-ref="HTTP_Listener_config1" path="delete-employee/{empid}" allowedMethods="POST"/>
		<logger level="INFO" doc:name="Logger" doc:id="d8a60483-cc3d-47a8-8487-58d1b1f366a1" message="#[attributes.uriParams.empid]"/>
		<db:delete doc:name="Delete" doc:id="b6d325e9-8364-4343-83e2-f1568eba9864" config-ref="Database_Config1" queryTimeout="1" queryTimeoutUnit="DAYS">
			<db:sql ><![CDATA[DELETE FROM employee WHERE emp_id=:emp_id]]></db:sql>
			<db:input-parameters ><![CDATA[#[{
	emp_id: attributes.uriParams.empid
}]]]></db:input-parameters>
		</db:delete>
		<ee:transform doc:name="Transform Message" doc:id="a78ea55f-ddf9-4d42-ad0e-b7ad106cdfce" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	message: "Employee deleted successfully" 
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
